NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
TRIPNEST_PRIMARY_API_URL=http://localhost:5001/api/v1
TRIPNEST_FALLBACK_API_URL=http://localhost:4567/api/v1
NEXT_PUBLIC_RUBY_API_URL=http://localhost:4567/api/v1/ruby
NEXT_PUBLIC_MAPTILER_API_KEY=your_maptiler_api_key
